:root,
.sidebar,
.footer-wrapper {
  background: transparent !important;
}

.navbar {
  background: transparent !important;
  backdrop-filter: blur(8px) !important;
}

div[class*='language-'] {
  background: transparent !important;
  backdrop-filter: blur(16px) !important;
}

.highlight-line {
  opacity: 0.5;
}