  $theme-color: #21d789;

  $text-color: (
    light: #2c3e50,
    dark: #9e9e9e,
  );
  
  $bg-color: (
    light: #fff,
    dark: #0c1117,
  );
  
  $bg-color-secondary: (
    light: #f8f8f8,
    dark: #333,
  );
  
  // shadow
  $box-shadow: (
    light: #f0f1f2,
    dark: #303030,
  );  

  // home page
.vp-project-home {
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: 959px) {
    background: url("/img/bg3.svg") no-repeat calc(50% + 420px) -90px;
  }

  h2 {
    border-bottom: none;
  }
}

.vp-hero-info {
  display: block;
  text-align: center;

  .vp-hero-image {
    max-height: 150px;
    margin: 0 auto;
  }
}

#main-description {
  max-width: 100%;
  font-size: 20px;
  color: #fff;
  font-family: sans-serif;
  font-variation-settings:
    "wght" 700,
    "BEVL" 100;
}

.vp-actions {
  margin-left: -10px;
}

.vp-action.primary {
  color: #fff;
}

.vp-features {
  &:first-child {
    border-top: none;
  }
}

.vp-feature-item {
  &:hover {
    background-color: #30303360;
  }

  .vp-feature-title {
    color: #fff;
    font-family: sans-serif;
    font-variation-settings:
      "wght" 700,
      "BEVL" 100;
  }

  .vp-feature-details {
    color: #fff;
    font-weight: 600;
  }
}

#main-title {
  color: #ffffff;
  font-family: sans-serif;
  font-variation-settings:
    "wght" 700,
    "BEVL" 100;
  -webkit-text-fill-color: #ffffff;
}